Weather Observation Station 20 (SQL Aggregate)

```sql
SELECT ROUND(AVG(T.LAT_N),4) FROM
(SELECT LAT_N, ROW_NUMBER() OVER(ORDER BY LAT_N) AS ROW_NUM FROM STATION ORDER BY LAT_N) AS T
WHERE T.ROW_NUM = ANY (SELECT FLOOR(COUNT(*)/2+0.5) FROM STATION) OR
T.ROW_NUM = ANY (SELECT CEIL(COUNT(*)/2+0.5) FROM STATION);
```

The Report (Basic Joins)
```sql
SELECT S.Name, G.Grade, S.Marks
FROM Students as S
INNER JOIN Grades as G ON S.Marks BETWEEN G.Min_Mark AND G.Max_Mark
WHERE G.Grade >= 8
ORDER BY G.Grade DESC, S.Name;
```

Top Competitors (Basic Joins)
```sql
SELECT H.hacker_id, H.name
FROM Submissions AS S
INNER JOIN Hackers AS H ON S.hacker_id = H.hacker_id
INNER JOIN Challenges AS C ON C.challenge_id = S.challenge_id
INNER JOIN Difficulty AS D ON C.difficulty_level = D.difficulty_level
WHERE S.score = D.score
GROUP BY H.hacker_id, H.name
HAVING COUNT(H.hacker_id) > 1
ORDER BY COUNT(H.hacker_id) DESC, H.hacker_id ASC;
```

Ollivander's Inventory (Basic Joins)
```sql
SELECT Wands1.id, Prop1.age, Wands1.coins_needed, Wands1.power FROM Wands AS Wands1
JOIN Wands_Property AS Prop1 ON Wands1.code = Prop1.code
WHERE Prop1.is_evil = 0
AND Wands1.coins_needed = (SELECT MIN(Wands2.coins_needed) FROM Wands AS Wands2 JOIN Wands_Property AS Prop2 ON Wands2.code = Prop2.code WHERE
                             Wands1.power = Wands2.power AND Prop1.age = Prop2.age)
ORDER BY Wands1.power DESC, Prop1.age DESC;
```

I don't think hackerrank supports OVER
```sql
SELECT MIN(Wands.coins_needed) OVER(PARTITION BY Wands.power, Prop.age) AS mincoins
FROM Wands
INNER JOIN Wands_Property AS Prop ON Wands.code = Prop.code;
```