# Notes/questions

* Where can you use subqueries?
* If I create a joined table but need to reference it at different places, can I alias

In [6]:
import mysql.connector
import os
from dotenv import load_dotenv
load_dotenv(override=True)

# con = mysql.connector.connect(
#     host="localhost",
#     user=os.environ.get("MYSQL_USER"),
#     password=os.environ.get("MYSQL_PW"),
# )
con = mysql.connector.connect(
    host="localhost",
    user=os.environ.get("MYSQL_USER"),
    password=os.environ.get("MYSQL_PW"),
    database="Northwind",
)
cur = con.cursor()

In [5]:
cur.close()
con.close()

# Window functions

In [7]:
cur.execute("SHOW TABLES;")
cur.fetchall()

[('BrazilCustomers',),
 ('Categories',),
 ('Customers',),
 ('CustomersBackup2025',),
 ('CustomersBackup2025Filtered',),
 ('CustomersBackup2025Fresh',),
 ('CustomersForInsert',),
 ('CustomersOrders',),
 ('Employees',),
 ('OrderDetails',),
 ('Orders',),
 ('Products',),
 ('ProductsNull',),
 ('Shippers',),
 ('Suppliers',)]

In [8]:
cur.execute("SHOW COLUMNS FROM Products;")
cur.fetchall()

[('ProductID', 'int', 'NO', 'PRI', None, 'auto_increment'),
 ('ProductName', 'varchar(50)', 'YES', '', None, ''),
 ('SupplierID', 'int', 'YES', 'MUL', None, ''),
 ('CategoryID', 'int', 'YES', 'MUL', None, ''),
 ('Unit', 'varchar(25)', 'YES', '', None, ''),
 ('Price', 'decimal(10,0)', 'YES', '', None, '')]

In [9]:
cur.execute("""SELECT CategoryID, COUNT(*) FROM Products
            GROUP BY CategoryID;""")

cur.fetchall()

[(1, 12), (2, 12), (3, 13), (4, 10), (5, 7), (6, 6), (7, 5), (8, 12)]

In [14]:
cur.execute("""SELECT CONVERT(MIN(Price), UNSIGNED), CategoryID FROM Products
            GROUP BY CategoryID;""")

print(cur.description)
for r in (res := cur.fetchall()):
    print(r)

[('CONVERT(MIN(Price), UNSIGNED)', 8, None, None, None, None, 1, 32928, 63), ('CategoryID', 3, None, None, None, None, 1, 49160, 63)]
(5, 1)
(10, 2)
(9, 3)
(3, 4)
(7, 5)
(7, 6)
(10, 7)
(6, 8)

In [ ]:
# cur.execute("""SELECT CategoryID, ProductName, MIN(CONVERT(Price, UNSIGNED)) OVER(PARTITION BY CategoryID) FROM Products
#             ORDER BY CategoryID, ProductName;""")
cur.execute("""SELECT CategoryID, ProductName, MIN(CONVERT(Price, UNSIGNED)) OVER(PARTITION BY CategoryID) FROM Products
            ORDER BY CategoryID, ProductName;""")

print(cur.description)
for r in (res := cur.fetchall()):
    print(r)

[('CategoryID', 3, None, None, None, None, 1, 32768, 63), ('ProductName', 253, None, None, None, None, 1, 0, 255), ('MIN(CONVERT(Price, UNSIGNED)) OVER(PARTITION BY CategoryID)', 8, None, None, None, None, 1, 32800, 63)]
(1, 'Chais', 5)
(1, 'Chang', 5)
(1, 'Chartreuse verte', 5)
(1, 'Côte de Blaye', 5)
(1, 'Guaraná Fantástica', 5)
(1, 'Ipoh Coffee', 5)
(1, 'Lakkalikööri', 5)
(1, 'Laughing Lumberjack Lager', 5)
(1, 'Outback Lager', 5)
(1, 'Rhönbräu Klosterbier', 5)
(1, 'Sasquatch Ale', 5)
(1, 'Steeleye Stout', 5)
(2, 'Aniseed Syrup', 10)
(2, "Chef Anton's Cajun Seasoning", 10)
(2, "Chef Anton's Gumbo Mix", 10)
(2, 'Genen Shouyu', 10)
(2, "Grandma's Boysenberry Spread", 10)
(2, 'Gula Malacca', 10)
(2, 'Louisiana Fiery Hot Pepper Sauce', 10)
(2, 'Louisiana Hot Spiced Okra', 10)
(2, 'Northwoods Cranberry Sauce', 10)
(2, 'Original Frankfurter grüne Soße', 10)
(2, "Sirop d'érable", 10)
(2, 'Vegie-spread', 10)
(3, 'Chocolade', 9)
(3, 'Gumbär Gummibärchen', 9)
(3, 'Maxilaku', 9)
(3, 'NuNuCa Nuß-Nougat-Creme', 9)
(3, 'Pavlova', 9)
(3, 'Schoggi Schokolade', 9)
(3, 'Scottish Longbreads', 9)
(3, "Sir Rodney's Marmalade", 9)
(3, "Sir Rodney's Scones", 9)
(3, 'Tarte au sucre', 9)
(3, 'Teatime Chocolate Biscuits', 9)
(3, 'Valkoinen suklaa', 9)
(3, 'Zaanse koeken', 9)
(4, 'Camembert Pierrot', 3)
(4, 'Fløtemysost', 3)
(4, 'Geitost', 3)
(4, 'Gorgonzola Telino', 3)
(4, 'Gudbrandsdalsost', 3)
(4, 'Mascarpone Fabioli', 3)
(4, 'Mozzarella di Giovanni', 3)
(4, 'Queso Cabrales', 3)
(4, 'Queso Manchego La Pastora', 3)
(4, 'Raclette Courdavault', 3)
(5, 'Filo Mix', 7)
(5, 'Gnocchi di nonna Alice', 7)
(5, "Gustaf's Knäckebröd", 7)
(5, 'Ravioli Angelo', 7)
(5, 'Singaporean Hokkien Fried Mee', 7)
(5, 'Tunnbröd', 7)
(5, 'Wimmers gute Semmelknödel', 7)
(6, 'Alice Mutton', 7)
(6, 'Mishi Kobe Niku', 7)
(6, 'Pâté chinois', 7)
(6, 'Perth Pasties', 7)
(6, 'Thüringer Rostbratwurst', 7)
(6, 'Tourtière', 7)
(7, 'Longlife Tofu', 10)
(7, 'Manjimup Dried Apples', 10)
(7, 'Rössle Sauerkraut', 10)
(7, 'Tofu', 10)
(7, "Uncle Bob's Organic Dried Pears", 10)
(8, 'Boston Crab Meat', 6)
(8, 'Carnarvon Tigers', 6)
(8, 'Escargots de Bourgogne', 6)
(8, 'Gravad lax', 6)
(8, 'Ikura', 6)
(8, 'Inlagd Sill', 6)
(8, "Jack's New England Clam Chowder", 6)
(8, 'Konbu', 6)
(8, 'Nord-Ost Matjeshering', 6)
(8, 'Röd Kaviar', 6)
(8, 'Røgede sild', 6)
(8, 'Spegesild', 6)

# Subqueries