In [6]:
import pandas as pd
import re

In [34]:
df = pd.read_csv("intent_classifier_samples.csv")

In [4]:
len(df)

2274

In [37]:
df.iloc[len(df)-5:]

,Query,Label,Notes,Category
2269,Can you identify trends in the popularity of d...,8,Synthetic,Queries about the dataset that require SQL or ...
2270,How do reader reviews differ between standalon...,8,Synthetic,Queries about the dataset that require SQL or ...
2271,What trends can you observe in reader feedback...,8,Synthetic,Queries about the dataset that require SQL or ...
2272,Can you analyze how book prices differ based o...,8,Synthetic,Queries about the dataset that require SQL or ...
2273,I'm curious about the distribution of book len...,8,Synthetic,Queries about the dataset that require SQL or ...

In [30]:
df.iloc[2273]["Query"]
one = re.sub(r"^\"", "", df.iloc[2272]["Query"])
two = re.sub(r"\"$", "", one)
two

"Can you analyze how book prices differ based on the author's educational background in the Romance genre?"

In [36]:
df["Query"] = df["Query"].apply(lambda x: re.sub(r"^\"", "", x))
df["Query"] = df["Query"].apply(lambda x: re.sub(r"\"$", "", x))

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2274 entries, 0 to 2273
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Query     2274 non-null   object
 1   Label     2274 non-null   int64
 2   Notes     2274 non-null   object
 3   Category  2274 non-null   object
dtypes: int64(1), object(3)
memory usage: 71.2+ KB

In [38]:
df.to_csv("intent_classifier_samples2.csv", mode="w", index=False, header=True)